@charset "UTF-8";

/*Fonts*/
@font-face {
 font-family: nunito;
 src: url("../fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}
@font-face {
 font-family: bento;
 src: url("../fonts/bento-font/Bento-2OXaW.otf") format("opentype");
}
@font-face {
 font-family: kobajeon;
 src: url("../fonts/kobajeon-font/Kobajeon-w18YP.otf") format("opentype");
}

/*Allgemein*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito; 
    }
img {
    max-width: 100%;
    height: auto;
    display: block;
    }
body {
    background: #1E1E1E;
}
/*mobile*/
@media (max-width:1260px){
     /*Header*/
    #top {
        display: none;
    }
    #top a {
        display: none;
    }
    header {
        position: relative;
        height: 150px;
    }
    #main_nav {
        display: none;
    }
    #nav_bar {
        display: flex;
        justify-content: space-between;
        background: #261C1C;
        border-bottom: 1px solid #FFE2AC;
    }
    input[id*="checker"] { display: none; }
    #burger_nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding-top: 60px;
        overflow: auto;
        z-index: 100;
        background: #FFE2AC;            
        width: clamp(170px, 25%, 370px);
        transform: translateX(-100%);
        transition: 0.5s;
    }
    #navchecker:checked ~ #burger_nav {
        transform: translateX(0);
    }
    #burger_nav ul {
        list-style: none;
        padding: 1rem
    }
    #burger_nav a {
        text-decoration: none;
        color: #1E1E1E;
        font-family: nunito; 
        line-height: 48px;
        display: block;
        transform-origin: left center;
        transition: 0.3s;
    }
    #burger_nav a:hover {
        transform: scale(1.2);
    }
    #burger {
        position: fixed;
        top: 0;
        left: 20px;
        z-index: 999;
        height: 48px;
        width: 48px;
        background: #261C1C;
    }
    .burger_line {
        position: absolute;
        left: 20%;
        width: 60%;
        height: 2px;
        background: #FFE2AC;
        transition: 0.5s;
    }
    .burger_line:nth-of-type(1) { top: calc(35% - 1px); }
    .burger_line:nth-of-type(2) { top: calc(50% - 1px); }
    .burger_line:nth-of-type(3) { top: calc(65% - 1px); }    
    #navchecker:checked ~ #burger .burger_line:nth-of-type(1){
         transform: rotate(45deg);
         top: calc(50% - 1px);
    }
    #navchecker:checked ~ #burger .burger_line:nth-of-type(2){
        transform: rotate(135deg);
    }
    #navchecker:checked ~ #burger .burger_line:nth-of-type(3){
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }    
    .nav_logo img {
        width: 100px;
    }
    #banner_ramen{
        display: none;
    }
    #slogan_1 {
        display: none;
    }
    #slogan_2 {
        display: none;
    }
    #slogan_3 {
        display: none;
    }
    #tease_1 {
        display: none;
    }
    #tease_2 {
        display: none;
    }
    #banner {
        display: none;
    }

       /*Footer*/
    #foot_start {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    #foot_logo img {
        width: 70px;
    }
    #line_1{
        margin-top: 20px;
    }
    #line_2{
        margin-top: 20px;
    }
    .footline {
        border: 1px solid #FFE2AC;
        margin: 10px;
        width: 100px;
    }
    #social {
        color: #FFE2AC;
        margin-left: 10px;
        font-size: 0.7rem;
    }
    #social_icon{
        display: flex;
        justify-content: flex-start;
        gap: 5px;
    }
    #social_icon img {
        max-width: 30px;
    }
    #foot_nav {
        color: #FFE2AC;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 0.7rem;
    }
    #foot_nav a {
        color:#FFE2AC;
        text-decoration: none;
    }
    
/*Main impressum*/
#main {
    background: #FFE2AC;
    color: #1E1E1E;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
#main h1 {
    font-family: kobajeon;
    font-size: 3rem;
    margin-bottom: 50px;
}
#main h2 {
    font-family: kobajeon;
    font-size: 2.3rem;
    margin-bottom: 20px;
}
#main h3 {
    font-family: kobajeon;
    font-size: 1rem;
    margin-bottom: 20px;
}
#main p {
    font-size: 1rem;
    padding-bottom: 10px;
}
#main article {
    margin-left: 10px;
    padding-top: 10px;
}
}
/*Desktop*/
@media (min-width:1261px) {
/*Header*/
    header {
        position: relative;
        height: 300px;
    }
    #nav_bar {
        display: none;
    }
    input {
        display: none;
    }
    #main_nav {
        display: grid;
        grid-template-areas: 
            "nava nava nava nava nava logo";
        grid-area: nav;
    }
    .nav_a {
        grid-area: nava;
    }
    .nav_logo {
       grid-area: logo;
    }
    #banner_ramen {
        grid-area: ramen;
    }
    #slogan{
        grid-area: slogan;
    }
    #tease {
        grid-area: tease;
    }
    #banner {
        grid-area: banner;
    }
    #main_nav img {
        width: 200px;
        margin-left: 10px;
    }
    #main_nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
    }
    #main_nav li {
        padding: 30px;
    }
    #main_nav a{
        color: #FFE2AC;
        text-decoration: none;
        display: block;
        font-size: 1.5rem;
    }
    #main_nav a:hover {
        color: #F2BE7E;
    }
    #banner_ramen img {
        width: 800px;
        position: absolute;
        top: -35px;
        left: -400px;
    }
    #slogan_1 {
        color: #FFE2AC;
        font-size: 3rem;
        position: absolute;
        top: 250px;
        right: 350px;
    }
    #slogan_2 {
        color: #A62626;
        font-size: 8rem;
        font-family: bento;
        position: absolute;
        top: 300px;
        right: 360px;
    }
    #slogan_3 {
        color: #A62626;
        font-size: 4rem;
        font-family: kobajeon;
        position: absolute;
        top: 410px;
        right: 350px;
    }
    #tease_1 {
        color: #D9D7D7;
        font-size: 1rem;
        position: absolute;
        top: 550px;
        right: 650px;
        width: 300px;
    }
    #tease_2 {
        background: #B57841;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        position: absolute;
        top: 570px;
        right: 350px;
        width: 260px;
    }
    #tease_2 a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
    }
    #tease_2 a:hover{
        text-decoration: underline;
    }
    #banner {
        background: #FFE2AC;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 700px;
    }
    #banner img {
        width: 50px;
    }
    #banner p{
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 11px;
    }

    /*Footer*/
    #foot_start {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    #foot_logo img {
        width: 100px;
    }
    #line_1{
        margin-top: 20px;
    }
    #line_2{
        margin-top: 20px;
    }
    .footline {
        border: 1px solid #FFE2AC;
        margin: 15px;
        width: 500px;
    }
    #social {
        color: #FFE2AC;
        margin-left: 100px;
        font-size: 1.2rem;
    }
    #social_icon{
        display: flex;
        justify-content: flex-start;
        gap: 5px;
    }
    #social_icon img {
        max-width: 50px;
    }
    #foot_nav {
        color: #FFE2AC;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #foot_nav a {
        color:#FFE2AC;
        text-decoration: none;
    }
    /*back top*/
    #top {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        width: 48px;
        height: 48px;
        background: rgba(242,190,126,0.7);
        border-radius: 50%;
        display: none;
                }
    #top a {
        color: #1E1E1E;
        text-decoration: none;
        line-height: 48px;
        text-align: center;
        display: block;
                }

/*back top*/
#top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 48px;
    height: 48px;
    background: rgba(242,190,126,0.7);
    border-radius: 50%;
    display: none;
            }
#top a {
    color: #1E1E1E;
    text-decoration: none;
    line-height: 48px;
    text-align: center;
    display: block;
            }

/*Main impressum*/
#main {
    background: #FFE2AC;
    color: #1E1E1E;
    height: 600px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
#main h1 {
    font-family: kobajeon;
    font-size: 3rem;
    margin-bottom: 50px;
}
#main h2 {
    font-family: kobajeon;
    font-size: 2.3rem;
    margin-bottom: 20px;
}
#main h3 {
    font-family: kobajeon;
    font-size: 1.7rem;
    margin-bottom: 20px;
}
#main p {
    font-size: 1.3rem;
    padding-bottom: 10px;
}
#main article {
    margin-left: 50px;
    padding-top: 50px;
}
}
